cover_db
META.yml
Makefile
blib
inc
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
MANIFEST.bak
*.sw?
MYMETA.yml
MYMETA.json
.carton/
carton.lock
local/
.prove
Debian_CPANTS.txt
.DS_Store
/Test-Retry-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
